@import "framework/normalize";
@import "framework/bourbon/bourbon";
@import "framework/base/base";
@import "framework/neat/neat";

body {
	background-color: #ddd;
}

.logo-black g {
	fill: black;
}


.logo-red g {
	fill: red;
}

.logo-white g {
	fill: white;
}